extends layout

block content
	h1= titleLive
	#listTable
		table
			thead
				th(style='width:150px;') Experiment Name
				th Description
			tbody
				each point, i in data
					if point.live
						tr
							td 
								a(href="/db/#{point.name}")= point.name
							td #{point.description}

	h1= title
	#listTable
		table
			thead
				th(style='width:150px;') Experiment Name
				th Description
			tbody
				each point, i in data
					if !point.live
						tr
							td 
								a(href="/db/#{point.name}")= point.name
							td #{point.description}

	
