extends layout

block content
  h1 Experiment Control
    if dataC
      #controlTable
        table
          thead
            th Pin
            th Control
          tbody
            each point, i in dataC
              tr
                td point.pin_no
                td
                   button#buttonControl(type="submit") Add

    form#formControl(name="control",method="post",action="/addcontrol")
      input#inputPinName(type="text",placeholder="Input Pin Number",name="pin_no")
      button#buttonControl(type="submit") Add
  h1= title
  #resultTable
    table
      thead
        th Time of the day
        th Elapsed time [s]
        th Relative humidity [%]
        th Temperature [C]
      tbody
        each point, i in data
          tr
            td #{moment(point.logged_on).format("YYYY/MM/DD HH:mm:ss")}
            td #{point.time}
            td #{point.rh} 
            td #{point.temp}
