extends layout

block content
  h1= title
  #resultTable
    table
      thead
        th Time of the day
        th Elapsed time [s]
        th Relative humidity [%]
        th Temperature [C]
      tbody
        each point, i in data
          tr
            td #{moment(point.logged_on).format("YYYY/MM/DD HH:mm")}
            td #{point.time}
            td #{point.rh} 
            td #{point.temp}
