extends layout

block content
	h1= title
	table
		thead
			th Time of the day
			th Elapsed time
			th Relative humidity [%]
			th Temperature [C]
		tbody
			each point, i in data
				tr
					td #{point.totd}
					td #{time}
					td #{point.rh} 
					td #{point.temp}


